<div align="center">
  <h1>All Blocmarks</h1>
</div>
<div align="center">
  <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
</div>
<div class="row">
  <div class="col-md-12" align="center">
    <% @topics.each do |topic| %>
    <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to topic.title, topic_path(topic.id) %>
            <% end %>
          </h4>
        </div>
      </div>
  </div>
 </div>
